.event {
    @media screen and (min-width: 60em){
        gap: $small-gap;
    }

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: $padding-base;

    &-icon {
        @media screen and (min-width: 40em){
            width: 50px;
        }
        
        width: 40px;
    }

    &-status {
        flex-grow: 1;

        &__status {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            &__date, &__live {
                align-items: center;
                display: flex;
                gap: 10px;
                font-size: 1.1rem;
                font-weight: 700;
                color: $granite-grey;
            }

            &__date {
                text-transform: uppercase;
                
                .icon::before {
                    width: 2rem;
                    height: 2rem;
                    background-position: center;
                }
            }
        }

        &__meet {
            @media screen and (min-width: 40em){
                width: 200px;
            }
            
            @media screen and (min-width: 60em){
                width: 250px;
            }

            font-size: 1.4rem;
            font-weight: 800;
            color: black;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 170px;
        }

        &__competition {
            font-size: 1.1rem;
            font-weight: 700;
            color: $granite-grey;
        }
    }

    &-bets {
        @media screen and (min-width: 40em){
            width: 70px;

            .icon::before{
                width: 15px;
                height: 15px;
            }
        }
        
        @media screen and (min-width: 60em){
            width: 85px;

            .icon::before{
                width: 20px;
                height: 20px;
            }
        }

        position: relative;
        width: 60px;
        text-align: center;
        cursor: pointer;

        .icon::before{
            width: 10px;
            height: 10px;
        }

        &__number {
            font-size: 1.2rem;
            font-weight: 700;
            color: black;
        }

        &__wording {
            font-size: 1rem;
            font-weight: 600;
            color: $granite-grey;
        }

        .icon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}