@font-face {
    font-family: "Metropolis";
    src: url("../assets/fonts/Metropolis-Medium.woff") format("woff");
}

@font-face {
    font-family: "Metropolis";
    font-weight: 600;
    src: url("../assets/fonts/Metropolis-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Metropolis";
    font-weight: 700;
    src: url("../assets/fonts/Metropolis-Bold.woff") format("woff");
}

@font-face {
    font-family: "Metropolis";
    font-weight: 900;
    src: url("../assets/fonts/Metropolis-ExtraBold.woff") format("woff");
}

