// COLORS

$dark-red: #920F14;
$crimson-red: #E10014;
$red: #D2161E;
$coral-red: #FF3C3C;
$orange: #FF3C00;
$black: #111;
$yellow: #FC0;
$green: #5FC626;
$blue: #3232CB;

$grey: #999;
$granite-grey: #666666;
$bright-grey: #E8E9EB;

$white: #FFF;
$ghost-white: #F7F8FA;

$bet-green: $green;
$bet-red: $coral-red;

$back-grey: $bright-grey;
$back-white: $white;
$back: $ghost-white;

// FONTS

$font-size-base: 16px;
$line-height-base: 1.2;
$fontweight-base: 400;

//CONTAINERS

$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);
$margin-base: 20px;
$padding-base: 20px;
$padding-double: $padding-base * 2;

$radius: 10px;
$gap: 30px;
$small-gap: 20px;
